<ion-content>
  <div class="wrapper">
      <ion-row>
        <ion-col>
          <p>Select play mode</p>
        </ion-col>
      </ion-row>
      <div class="spacer-20"></div>
      <ion-row>
        <ion-col><button ion-button block class="clickable" routerLink="/player-vs-computer"
            routerDirection="root">Player
            VS
            Computer</button></ion-col>
      </ion-row>
      <p class="spacer-70"></p>
      <ion-row>
        <ion-col><button ion-button block class="clickable" routerLink="/computer-vs-computer"
            routerDirection="root">Computer VS
            Computer</button></ion-col>
      </ion-row>
    </div>
</ion-content>
